<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>Item 1</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title>Item 2</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
  </clr-accordion-panel>

  <clr-accordion-panel>
    <clr-accordion-title>Item 3</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
<div>
  <div><button class="btn btn-outline">Regular</button>
    <button class="btn btn-success-outline">Success-Outline</button>
    <button class="btn btn-info-outline">Info</button>
    <button class="btn btn-warning-outline">Warning</button>
    <button class="btn btn-danger-outline">Danger</button>
    <button class="btn btn-outline" disabled>Disabled</button></div>
</div>

<router-outlet></router-outlet>